<!doctype html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>AngularJS directive demo</title>
    <script src="../bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

    <link rel="stylesheet" href="demo.css">
  </head>
  <body ng-controller="MainController as main">
    <ul>
      <li><top-devs-component slide="main.campaign.slides[0]" settings="main.settings" id="slide1" controls="main.controls[0]"/></li>
      <li><top-devs-component slide="main.campaign.slides[10]" settings="main.settings" id="slide2" controls="main.controls[1]" /></li>
      <button ng-click="main.controls.play()">Play</button>
      <button ng-click="main.controls.pause()">Pause</button>
      <li><top-devs-component slide="main.campaign.slides[2]" settings="main.settings" id="slide3" controls="main.controls[2]"/></li>
    </ul>
    <script src="../dist/component.js"></script>
    <script src="demo.js"></script>
  </body>
</html>