<div class="top-devs-container" ng-show="$ctrl.isVisible">
  <div ng-repeat="element in $ctrl.slide.elements">
    <div ng-style="element.layout">
      <img ng-src="{{element.media.src}}" ng-if="$ctrl.isImage(element.media.mime)"  width="100%" />
      <video ng-src="{{element.media.src}}" id="video" ng-if="$ctrl.isVideo(element.media.mime)" width="100%">
      </video>
    </div>
  </div>
</div>